<span class="mt-3 mb-3 p-3 bg-primary rounded-4 text-white">{{title}}</span>
<div class="mt-4">
  <div class="row g-3">
    <div class="col-auto">
      <label for="año" class="form-label">Periodo</label>
      <input type="text" (keypress)="soloNumeros($event)" class="form-control form-control-sm" id="año" maxlength="6"
        placeholder="YYYY ó YYYYMM" [(ngModel)]="periodo">
    </div>
    <div class="col-auto">
      <label for="tipoSolicitud" class="form-label">Tipo de Solicitud</label>
      <select id="tipoSolicitud" class="form-select form-select-sm custom-select" [(ngModel)]="tipoSolicitud">
        <option value="">Seleccionar</option>
        <option *ngFor="let t of listaParametros.items" value="{{t.idCod}}">{{t.vlCamp}}</option>
      </select>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary text-white mt-4 btn-sm" (click)="getSearchBandeja()">Buscar</button>
    </div>
  </div>
</div>

<div class="mt-4">
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Número</th>
          <th>Solicitud</th>
          <th>Periodo</th>
          <th>Tipo de Solicitud</th>
          <th class="text-center">Generar reporte</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let s of sortBandeja.items  | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }">
          <td>{{s.idSolicitud}}</td>
          <td>{{s.desTipoSolicitud}} {{s.idSolicitud}}</td>
          <td>{{s.anhoCalculo}}</td>
          <td>{{s.desTipoSolicitud}}</td>
          <td class="text-center"><button class="btn btn-primary btn-sm" (click)="generarReporte(s.idSolicitud)">
              <i class="fa-solid fa-file-lines"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center mt-2">

    <pagination-controls class="my-pagination" previousLabel="Anterior" nextLabel="Siguiente"
      (pageChange)="onPageChange($event)" id="server">
    </pagination-controls>

  </div>

</div>
