<nav class="navbar navbar-expand color-primario d-flex justify-content-between align-items-center">

  <div class="d-flex">
    <div class="side-nav-button p-3 me-3">
      <i class="fa-solid fa-bars" (click)="SideNavToggled()"></i>
    </div>

    <a class="navbar-brand px-3" href="#">
      <img src="./assets/images/logos/logo-onp.png" alt="" width="200" height="55"
        class="d-inline-block align-text-top">
    </a>
  </div>

  <div class="d-flex align-items-center">
    <a class="me-4" (click)="cerrar()">Cerrar sesión</a>
    <!--
    <i class="fa-solid fa-user fa-lg me-3"></i>
    -->
    <img src="./assets/images/icon-user.svg" class="me-3" width="32px" height="32px">
  </div>

</nav>
<div class="d-flex justify-content-between flex-row user-info">
  <span class="me-3 ml-auto p-2 user-text">
    <div></div>
  </span>
  <span class="me-3 ml-auto p-2 user-text">{{usuario}} - {{nombre}}</span>
</div>
