<nav class="navbar navbar-expand color-primario d-flex justify-content-between align-items-center">

  <div class="d-flex">
    <div class="side-nav-button p-3 me-3">
      <i class="fa-solid fa-bars" (click)="SideNavToggled()"></i>
    </div>

    <a class="navbar-brand px-3" href="#">
      <img src="./assets/images/Logo.png" alt="" width="540" height="55" class="d-inline-block align-text-top">
    </a>
  </div>

  <div class="d-flex align-items-center">
    <a href="#" class="me-4">Cerrar sesión</a>
    <!--
    <i class="fa-solid fa-user fa-lg me-3"></i>
    -->
    <img src="./assets/images/icon-user.svg" class="me-3" width="32px" height="32px">
  </div>

</nav>
<div class="d-flex align-items-end flex-column user-info">
  <span class="me-3 ml-auto p-2 user-text">JULIO CÉSAR BAUTISTA TANG - ACTUARIO</span>
</div>
