<div class="container p-3">

  <div>
    <img src="./assets/images/icon-user.svg" class="me-2" width="20px" height="20px">
    <span class="title-form"><strong>Regimen {{solicitud.tiRegi}}</strong></span>
    <span class="ms-5">Usuario: {{usuario}}</span>
  </div>

  <div class="container mt-3">
    <div class="row">
      <div class="col-6">
        <label for="idParametro" class="form-label">ID PARÁMETRO</label>
        <input type="text" class="form-control" id="idParametro" value="{{solicitud.idTabl}}" disabled readonly>
      </div>

      <div class="col-6">
        <label for="parametro" class="form-label">PARÁMETRO</label>
        <input type="text" class="form-control" id="parametro" value="{{solicitud.txDesc}}" disabled readonly>
      </div>

    </div>

    <div class="row">

      <div class="col-12">
        <label for="valores" class="form-label">VALORES</label>
        <table class="table table-sm table-bordered" id="valores">
          <thead>
            <tr>
              <th>ID VALOR</th>
              <th *ngFor="let d of solicitud.valores[0].detalle">
                {{d.vlCamp.split("|")[0]}}
              </th>
              <th>Editar Valor</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let p of solicitud.valores; index as i">
              <td class="text-center">
                {{p.idCod}}
              </td>
              <td *ngFor="let v of p.detalle">
                {{v.vlCamp.split("|")[2]}}
              </td>
              <td class="text-center">
                <button class="btn btn-primary btn-sm" (click)="editar(p)">
                  <i class="fa-solid fa-pen"></i>
                </button>
              </td>

            </tr>

          </tbody>

        </table>

      </div>

    </div>


  </div>

  <div class="d-flex justify-content-center mt-4">
    <button class="btn btn-primary btn-sm ms-2" (click)="grabar()">Agregar Valor</button>
    <button class="btn btn-primary btn-sm ms-2" (click)="cerrar()">Cerrar</button>

  </div>

</div>
