/*
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay{
height:100vh;
width:100%;
background-color:rgba(0, 0, 0, 0.286);
z-index:    10;
top:        0;
left:       0;
position:   fixed;
}

:host {
  z-index: 9999;  Puedes ajustar este valor según tus necesidades
}
*/

.my-overlay-container {
  z-index: 1058; /* Un valor mayor que el z-index del modal Bootstrap */
}


@keyframes ldio-j8xdbyvktg {
  0% { transform: translate(12px,80px) scale(0); }
 20% { transform: translate(12px,80px) scale(0); }
 40% { transform: translate(12px,80px) scale(1); }
 60% { transform: translate(80px,80px) scale(1); }
 80% { transform: translate(80px,80px) scale(1); }
100% { transform: translate(148px,80px) scale(1); }
}
@keyframes ldio-j8xdbyvktg-r {
  0% { transform: translate(148px,80px) scale(1); }
100% { transform: translate(148px,80px) scale(0); }
}
@keyframes ldio-j8xdbyvktg-c {
  0% { background: #141b4d }
 20% { background: #ffb81c }
 40% { background: #ff6d6a }
 60% { background: #8e9089 }
 80% { background: #06a0a5 }
100% { background: #141b4d }
}
.ldio-j8xdbyvktg div {
 position: absolute;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 transform: translate(80px,80px) scale(1);
 background: #141b4d;
 animation: ldio-j8xdbyvktg 2.4390243902439024s infinite cubic-bezier(0,0.5,0.5,1);
}
.ldio-j8xdbyvktg div:nth-child(1) {
 background: #8e9089;
 transform: translate(148px,80px) scale(1);
 animation: ldio-j8xdbyvktg-r 0.6097560975609756s infinite cubic-bezier(0,0.5,0.5,1), ldio-j8xdbyvktg-c 2.4390243902439024s infinite step-start;
}.ldio-j8xdbyvktg div:nth-child(2) {
 animation-delay: -0.5097560975609756s;
 background: #141b4d;
}.ldio-j8xdbyvktg div:nth-child(3) {
 animation-delay: -0.9195121951219512s;
 background: #8e9089;
}.ldio-j8xdbyvktg div:nth-child(4) {
 animation-delay: -1.3292682926829267s;
 background: #ff6d6a;
}.ldio-j8xdbyvktg div:nth-child(5) {
 animation-delay: -1.8390243902439024s;
 background: #ffb81c;
}
.ldio-j8xdbyvktg div:nth-child(6) {
  animation-delay: -2.4390243902439024s;
  background: #06a0a5;
 }
.loadingio-spinner-ellipsis-v3iysr5h3il {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #116b6e4d;
}
.ldio-j8xdbyvktg {
 transform: translateZ(0) scale(1);
 backface-visibility: hidden;
 transform-origin: 0 0; /* see note above */
 width: 200px;
}
.ldio-j8xdbyvktg div { box-sizing: content-box; }
/*
 .overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #116b6e4d;
 }*/
