<div class="side-nav-content">

  <ul class="nav-list" [ngClass]="{'nav-list-open': sideNavStatus}" id="menu">

    <div *ngFor="let p of this.permisos; let ind=index">

      <li class="nav-list-item">
        <i class="fa-solid fa-folder"></i>
        <span>
          <a href="#{{ind}}Menu" data-bs-toggle="collapse">{{p.nombre}}</a>
        </span>
      </li>

      <div id="{{ind}}Menu" class="collapse">
        <ul class="nested-list-ul">

          <li class="nested-list-li" *ngFor="let h of p.hijos">
            <div class="d-flex">
              <a [routerLink]="p.accion+h.accion">{{h.nombre}}</a>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </ul>

</div>
