<span class="mt-3 mb-3 p-3 bg-primary rounded-4 text-white">{{title}}</span>
<div class="mt-4">
  <div class="row g-3">

    <div class="col-auto">
      <label for="tabla" class="form-label">Tabla</label>
      <select id="tabla" class="form-select form-select-sm custom-select" [(ngModel)]="tabla">
        <option value="">Seleccionar</option>
        <option></option>
      </select>
    </div>

    <div class="col-auto">
      <label for="edad" class="form-label">Edad</label>
      <select id="edad" class="form-select form-select-sm custom-select" [(ngModel)]="edad">
        <option value="">Seleccionar</option>
        <option></option>
      </select>
    </div>


    <div class="col-auto">
      <button class="btn btn-primary text-white mt-4 btn-sm" (click)="getSearchBandeja()">Buscar</button>
    </div>
  </div>
</div>


<div class="mt-4">
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Tabla</th>
          <th>Edad</th>
          <th>Valor de la probabilidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of sortBandeja.items">
          <td>{{p.idTabl}}</td>
          <td>{{p.txDesc}}</td>
          <td>{{p.descTiRegi}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center mt-2">

    <pagination-controls class="my-pagination" previousLabel="Anterior" nextLabel="Siguiente"
      (pageChange)="onPageChange($event)" id="server">
    </pagination-controls>

  </div>
</div>


<div class="d-flex justify-content-center mt-3">
  <button class="btn btn-primary text-white btn-sm" (click)="exportar()">
    Exportar
  </button>
  <button class="btn btn-primary text-white ms-3 btn-sm" (click)="cargar()">
    Cargar
  </button>
</div>
