<div class="container">


  <div>
    <img src="./assets/images/icon-user.svg" class="me-2" width="20px" height="20px">
    <span class="title-form"><strong>Solicitud N° {{solicitud.codSolicitud}}</strong></span>
    <span class="ms-5">Usuario: JBAUTISTA</span>
  </div>

  <div class="container mt-3">
    <form>

      <div class="row">
        <div class="col-6">
          <label for="fechaSolicitud" class="form-label">Fecha de solicitud (*)</label>
          <input type="text" class="form-control" id="fechaSolicitud" value="{{solicitud.fechRecepcion}}" readonly>
        </div>

        <div class="col-6">
          <label for="periodo" class="form-label">Periodo de Cálculo (*)</label>
          <input type="text" class="form-control" id="periodo" value="{{solicitud.anhoCalculo}}" readonly>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label for="tipoSolicitud" class="form-label">Tipo de Solicitud (*)</label>
          <input type="text" class="form-control" id="tipoSolicitud" value="{{solicitud.desTipoSolicitud}}" readonly>

        </div>

      </div>
    </form>

    <div>

      <label for="table-movimientos" class="form-label">Movimientos</label>

      <table class="table table-sm table-bordered" id="table-movimientos">
        <thead>
          <tr>
            <!--<th>ID</th>-->
            <th>Proceso ejecutado</th>
            <th>Estado nuevo</th>
            <th>Usuario </th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of solicitud.movimiento | paginate: { itemsPerPage: 5, currentPage: p }">
            <!--<td>{{m.idMovimiento}}</td>-->
            <td>{{m.desProc}}</td>
            <td>{{m.desEstSolDes}}</td>
            <td>{{m.idUsuCrea}}</td>
            <td>{{m.fecCrea}}</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="d-flex justify-content-center mt-2">
      <pagination-controls class="my-pagination" previousLabel="Anterior" nextLabel="Siguiente"
        (pageChange)="p = $event">

      </pagination-controls>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <button class="btn btn-primary btn-sm" (click)="cerrar()">Cerrar</button>
      <button class="btn btn-primary btn-sm ms-2" (click)="descargar()">Descargar</button>
      <button class="btn btn-primary btn-sm ms-2" (click)="verParametros()">Parámetros</button>
    </div>

  </div>
</div>
