<span class="mt-3 mb-3 p-3 bg-primary rounded-4 text-white">{{title}}</span>

<div class="mt-4">
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Número</th>
          <th>Solicitud</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th class="text-center">Proyectar Flujo</th>
          <th class="text-center">Reporte</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let s of sortBandeja.items  | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }">
          <td>{{s.idSolicitud}}</td>
          <td>{{s.desTipoSolicitud}} {{s.idSolicitud}}</td>
          <td>{{s.anhoCalculo}}</td>
          <td>{{s.descEstadoSolicitud}}</td>
          <td class="text-center"><button class="btn btn-primary btn-sm" (click)="proyectar(s)">
              <i class="fa-solid fa-rotate"></i>
            </button>
          </td>
          <td class="text-center"><button class="btn btn-primary btn-sm" (click)="generarReporte(s)">
              <i class="fa-solid fa-file-lines"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center mt-2">

    <pagination-controls class="my-pagination" previousLabel="Anterior" nextLabel="Siguiente"
      (pageChange)="onPageChange($event)" id="server">
    </pagination-controls>

  </div>

</div>
