<div class="background-style">

  <div class="container d-flex flex-column align-items-center principal">
    <div class="d-flex align-items-end" style="margin-top: 13.5rem;">
      <div style="margin-right: 12rem;">
        <img src="./assets/images/logos/logo-onp.png" alt="" width="200" height="55">
      </div>

      <div style="margin-right: 0;">
        <span class="text-white">Nuevo Sistema de Cálculo Actuarial</span>
      </div>

    </div>

    <div class="container mt-3">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-6">

          <div class="card">
            <div class="p-2">
              <div class="card-body">

                <form [formGroup]="form">

                  <div class="container px-5">

                    <div class="mb-3">
                      <label for="user" class="form-label">Usuario</label>
                      <input type="text" class="form-control" id="user" formControlName="username" required>
                    </div>

                    <div class="mb-4">
                      <label for="clave" class="form-label">Contraseña</label>
                      <input type="password" class="form-control" id="clave" formControlName="password" required>
                    </div>

                    <p *ngIf="error" class="error">
                      Usuario o Clave incorrectos
                    </p>

                    <div>
                      <button class="btn btn-secondary btn-sm text-white " style="width: 100%;"
                        [disabled]="this.form.invalid" (click)="submit()">
                        Ingresar
                      </button>

                    </div>

                  </div>

                </form>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>




  </div>
