<div class="container p-3">
  <div>
    <!--
    <i class="fa-solid fa-user me-2"></i>
    -->
    <img src="./assets/images/icon-user.svg" class="me-2" width="20px" height="20px">
    <span class="title-form"><strong>Nueva solicitud</strong></span>
    <span class="ms-5">Usuario: JBAUTISTA</span>
  </div>
  <div class="container mt-3">
    <form [formGroup]="form">

      <div class="row">
        <div class="col-6">
          <label for="fechaSolicitud" class="form-label">Fecha de solicitud (*)</label>
          <input type="date" value="{{fechaActual}}" class="form-control" id="fechaSolicitud" readonly>
        </div>

        <div class="col-6">
          <label for="periodoCalculo" class="form-label">Periodo de Cálculo (*)</label>
          <input type="text" maxlength="6" formControlName="periodoCalculo" class="form-control" id="periodoCalculo"
            placeholder="AAAAMM">
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label for="tipoSolicitud" class="form-label">Tipo de Solicitud</label>
          <select id="tipoSolicitud" formControlName="tipoSolicitud" class="form-select form-select-sm custom-select"
            (change)="selectTipoSolicitud()">
            <option value="">Seleccionar</option>
            <option *ngFor="let t of listaParametros.lstParam" value="{{t.codParametro}}">{{t.desParametro}}</option>
          </select> </div>

        <div class="col-6">
          <label for="grupoPlanillas" class="form-label">Planillas</label>
          <div class="form-check" id="grupoPlanillas">
            <input class="form-check-input" type="checkbox" id="flexCheckDisabled" formControlName="checkPensionista">
            <label class="form-check-label" for="flexCheckDisabled">
              Pensionistas
            </label>
          </div>

          <div class="form-check" id="grupoPlanillas">
            <input class="form-check-input" type="checkbox" id="flexCheckDisabled" formControlName="checkContAdmini">
            <label class="form-check-label" for="flexCheckDisabled">
              Contingencia administrativa
            </label>
          </div>

          <div class="form-check" id="grupoPlanillas">
            <input class="form-check-input" type="checkbox" id="flexCheckDisabled" formControlName="checkAfiliado">
            <label class="form-check-label" for="flexCheckDisabled">
              Afiliados
            </label>
          </div>

          <div class="form-check" id="grupoPlanillas">
            <input class="form-check-input" type="checkbox" id="flexCheckDisabled" formControlName="checkContJudicial">
            <label class="form-check-label" for="flexCheckDisabled">
              Contingencia judicial
            </label>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-12">
          <label for="descripcion" class="form-label">Descripción de la Solicitud (*)</label>
          <textarea class="form-control" formControlName="descripcion" id="descripcion"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <label for="nombre" class="form-label">Nombre del Solicitante (*)</label>
          <input type="text" class="form-control" formControlName="nombre" id="nombre">
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label for="cargo" class="form-label">Cargo del Solicitante (*)</label>
          <input type="text" class="form-control" formControlName="cargo" id="cargo">
        </div>

        <div class="col-6">
          <label for="correo" class="form-label">Email del Solicitante (*)</label>
          <input type="email" class="form-control" formControlName="correo" id="correo">
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <label for="observacion" class="form-label">Observación</label>
          <textarea class="form-control" id="observacion" formControlName="observacion"></textarea>
        </div>
      </div>

      <small class="mt-4">(*) Campos obligatorios</small>

      <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-primary btn-sm" (click)="close()">Cancelar</button>
        <button class="btn btn-primary btn-sm ms-2" (click)="limpiar()">Limpiar</button>
        <button class="btn btn-primary btn-sm ms-2" [disabled]="form.invalid" (click)="guardar()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span *ngIf="loading">Guardando...</span>
          <span *ngIf="!loading">Guardar</span>
        </button>
      </div>



    </form>
  </div>
</div>
