<div class="container p-3">

  <div>
    <img src="./assets/images/icon-user.svg" class="me-2" width="20px" height="20px">
    <span class="title-form"><strong>Solicitud N° {{solicitud.idSolicitud}}</strong></span>
    <span class="ms-5">Usuario: {{usuario}}</span>
  </div>

  <div class="container mt-3">
    <div class="row">
      <div class="col-6">
        <label for="tipoSolicitud" class="form-label">Tipo de Solicitud</label>
        <input type="text" class="form-control" id="tipoSolicitud" value="{{solicitud.desTipoSolicitud}}" disabled
          readonly>
      </div>

      <div class="col-6">
        <label for="periodo" class="form-label">Periodo de Cálculo</label>
        <input type="text" class="form-control" id="periodo" value="{{solicitud.anhoCalculo}}" disabled readonly>
      </div>

    </div>

    <div class="row">

      <div class="col-12">
        <label for="grupoPlanillas" class="form-label">Planillas</label>
        <table class="table table-sm table-bordered" id="grupoPlanillas">
          <thead>
            <tr>
              <th>Planilla</th>
              <th>N° Registros</th>
              <th>Estado</th>
              <th>Inconsistencias SI/NO</th>
              <th>Calcular</th>
              <th>Aprobar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of solicitud.planilla">
              <td class="text-center">{{p.desTipPla}}</td>
              <td class="text-center">{{p.numPerPla}}</td>
              <td class="text-center">{{p.desEst}}</td>
              <td class="text-center">{{p.numIncosPla}}
              </td>
              <td class="text-center">
                <button [disabled]="p.indCalcRealizado === '1'" class="btn btn-primary btn-sm"
                  (click)="dialogCalcular(p.codTipPla)">
                  <i class="fa-solid fa-file-arrow-up"></i>
                </button>
              </td>
              <td class="text-center">
                <button [disabled]="p.indCalcRealizado !== '1'" class="btn btn-primary btn-sm"
                  (click)="dialogAprobar(p.codTipPla,p.desTipPla)">
                  <i class="fa-solid fa-check"></i>
                </button>

              </td>



            </tr>

          </tbody>

        </table>

      </div>

    </div>


  </div>

  <div class="d-flex justify-content-center mt-4">
    <button class="btn btn-primary btn-sm" (click)="verReportes()">Ver Reportes</button>
    <!--    <button class="btn btn-primary btn-sm ms-2" (click)="dialogAprobar()">Aprobar</button>-->
    <button class="btn btn-primary btn-sm ms-2" (click)="cerrar()">Cerrar</button>

  </div>

</div>
