/* You can add global styles to this file, and also import other style files */


$primary: #141B4D;
$secondary: #628786;
$success : #198754;
$danger : #dc3545;
$warning : #ffc107;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "warning": $warning
);


.color-primario{
  background-image: linear-gradient(to right, #141B4D , #66AFAC);
  color: white;
}

@import "../node_modules/bootstrap/scss/bootstrap";

body{
  font-size: 12px;
}

.form-control, .form-select{
  border-width: 3px;
  font-size: 12px;
}
.form-control:focus, .form-select:valid:focus{
  box-shadow: none;
  border: 3px solid #141B4D
}

.form-select option:hover{
  background-color: #141B4D; /* Cambia el color de fondo en el hover */
  color: #ffffff; /* Cambia el color del texto en el hover */
}

.form-label{
  color: #8E9089;
}
.title-form{
  color:#141B4D;
}

.table th {
  background-color: #66AFAC;
  color:white
}

.my-pagination .ngx-pagination .current{
  padding: 0.1875rem 0.625rem;
  background: #141B4D;
  color: #fefefe;
  cursor: default;
}

/*
body{
  font-family: 'Poppins', sans-serif;

}


*/
